.input {
  border: 1px solid #000;
  border-radius: 14px;
  background-color: #ffeda3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 100px auto;
  padding: 26px;
}

.input-titulo {
  background-color: #ffeda3;
  margin: 0;
}

.input-parrafo {
  background-color: #ffeda3;
  margin: 4px 0 ;
  font-weight: 500;
}

.input-tries {
  background-color: #ffeda3;
  font-weight: 500;
}

.input-intentos {
  background-color: #ffeda3;
  color: red;
}
.input-pista{
  background-color: #ffeda3;
  margin: 10px 0;
  font-weight: 500;
}

.input-btnOportunidad{
  background-color: #ffd8cc;
  border: 1px solid #000;
  margin: 10px 0;
}

.input-label {
  background-color: #ffeda3;
  border: 1px solid #000;
  width: 90%;
  height: 30px;
}

.input-btn {
  background-color: #ffd8cc;
  border-radius: 2px;
  border: none;
  width: 90%;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

.input-result {
  background-color: #ffeda3;
  font-weight: 500;
}

.input-imgTristeza{
  background-color: #ffeda3;
  width: 300px;
}